article {
  border-style: solid;
  border-color: black;
  max-width: 300px;
  padding: 8px;
}

img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5%;
  }

div.header {
    text-align: center;
  }
