@media (min-width: 1024px)

  article.cat
    border-style: solid
    border-color: #ff751a
    flex-basis: 35%
    margin-bottom: 3.125em
    margin-right: 5em
    margin-left: 5em
    margin-top: 2.875em
    color: black
    text-size: 125%
    overflow: hidden
    padding: 2em
    border-radius: 5%
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.25)
    background-color: lightgrey
    div.profile-photo
      text-align: center
    div.stats
      margin-bottom: 40px

  #main-profile-photo
    max-width: 300px
    max-height: 300px
    border-radius: 5%
    margin-right: 40px
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.0625)
    margin-top: 1em


  footer
    padding: 10px 20px
    #LikeButton
      text-align: right
      font-size: 1.75em

  #catname
    text-align: center


@media (max-width: 1024px)

  article.cat
    border-style: solid
    border-color: #ff751a
    flex: 1
    margin-bottom: 3.125em
    margin-right: 5em
    margin-left: 5em
    margin-top: 2.875em
    color: black
    padding: .75em
    border-radius: 5%
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.25)
    background-color: lightgrey
    a
      font-size: 4em
    div.profile-photo
      text-align: center
    div.stats
      margin-bottom: 2.5em
      font-size: 2em

  #main-profile-photo
    max-width: 40em
    max-height: 40em
    border-radius: 5%
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.0625)
    margin-top: 1em


  footer
    padding: 10px 20px
    #LikeButton
      text-align: right
      font-size: 1.75em

  #catname
    text-align: center
