@media (max-width: 1024px)
  div.intro-text
    font-size: 200%
    flex-basis: 70%
    margin-left: 1.25em
    color: white
    p
      font-size: 1.3em
      color: black
      font-family: 'Slabo 27px', serif
      padding: 1em
    ul
      font-size: 1.3em
      color: black
      font-family: 'Slabo 27px', serif
    li
      padding: .25em
    h1, h3
      color: white
    h3
      padding: 1em

@media (min-width: 1024px)
  div.intro-text
    font-size: 150%
    flex-basis: 60%
    margin-left: 6em
    color: white
    p
      font-size: 1.3em
      color: black
      font-family: 'Slabo 27px', serif
      padding: 1em
    ul
      font-size: 1.3em
      color: black
      font-family: 'Slabo 27px', serif
    li
      padding: .25em
    h1, h3
      color: white
    h3
      padding: 1em
