article.cat {
  border-style: solid;
  border-color: #ff751a;
  box-sizing: border-box;
  flex-basis: 35%;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 30px;
  color: black;
  text-size: 125%;
  overflow: hidden;
  padding: 12px;
  border-radius: 5%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.25);
  background-color: lightgrey;
}

#main-profile-photo {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5%;
  margin-right: 40px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.25);
}

footer {
  padding: 10px 20px;
}

div.photo-stats {
  display: column;
  justify-content: center;

}

div.profile-photo {
  text-align: center;
  flex: 1;
}

div.stats {
  flex: 1;
  margin-bottom: 40px;
}
