article {
  border-style: solid;
  border-color: #ff751a;
  box-sizing: border-box;
  flex-basis: 25%;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 40px;
  color: black;
  text-size: 125%;
  overflow: hidden;
  padding: 12px;
  border-radius: 5%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.50);
  background-color: lightgrey;
}

img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5%;
}

div.header {
    text-align: center;
}

footer {
  padding: 10px 20px;
}
