
div.profile-container {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h1.name {
  margin-top: 50px;
  margin-right: 750px;
}

div.profile-gallery{
  margin-top: 70px;
  flex: 1;
}
