@media (min-width: 900px) {
  div.profile-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

div.profile-article {
  box-sizing: border-box;
  flex-basis: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  padding: 12px;
  border-radius: 5%;

}

div.gallery {
  border-style: solid;
  border-color: #ff751a;
  box-sizing: border-box;
  flex-basis: 80%;
  height: 550px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  padding: 12px;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
}
