

div.page-wrapper {
  color: white;
}


div.intro-week-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.editor {
  margin: 0 auto;
}


div.profile-title {
  margin: 0 auto;
  color: white;
}


div.main-wrapper {
  margin-top: 120px;
}


div.cats-profiles {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;

}

div.sign-in {
  position: relative;
  left: 20px;
}

@media (min-width: 900px) {
  div.cats-profiles {
    display: flex;
    justify-content: space-between;
  }
}
