div.page-wrapper {

}

div.header-wrapper {

}

div.intro-wrapper {

}

div.sign-in {

}

div.main-wrapper {

}


div.cats-profiles {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

}

div.sign-in {
  position: relative;
  left: 20px;
}

div.editor {

}

@media (min-width: 900px) {
  div.cats-profiles {
    display: flex;
    justify-content: space-between;
  }
}
